@import "tailwindcss";

@theme {
  /* Mendaftarkan Warna Custom secara Global */
  --color-gold: #D4AF37;
  --color-gold-main: #D4AF37;
  --color-gold-light: #E5C558;
  --color-gold-dim: #B08D26;

  --color-forest-main: #2D3A30;
  --color-forest-light: #3A4B3D;
  --color-forest-card: #344338;

  --color-cream: #FDFBF7;

  /* Font */
  --font-jakarta: var(--font-jakarta);
}

:root {
  --background: var(--color-forest-main);
  --foreground: var(--color-cream);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

@layer utilities {
  .glass-card {
    background: rgba(58, 75, 61, 0.4);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}